name: Test code

on:

    push:
        branches: [ '*' ]
        # paths: [ '**.py' ]

jobs:

    Test:

        runs-on: ${{ matrix.os }}-latest
        strategy:
            matrix:
                os: ["ubuntu", "macos", "windows"]
        defaults:
            run:
                shell: bash -l {0}
        
        steps:

            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install regular dependencies with conda
              uses: conda-incubator/setup-miniconda@v3
              with:
                miniforge-version: "latest"
                environment-file: environment.yml
                activate-environment: test-env
                conda-remove-defaults: "true"

            - name: Install dev dependencies
              run: |
                  conda env update -n test-env --file environment-dev.yml

            - name: Run tests with pytest
              run: |
                  pytest -xs --junit-xml=pytest.xml
            
            - name: Publish test results
              uses: dorny/test-reporter@v1
              if: always()
              with:
                name: Tests
                path: pytest.xml
                reporter: java-junit

            - name: Run tests with coverage
              run: |
                  coverage run -m pytest -xs
                  coverage report --format markdown > coverage.md

            - name: Upload coverage report
              if: matrix.os == 'ubuntu'
              uses: actions/upload-artifact@v4
              with:
                name: coverage
                path: coverage.md
                compression-level: 0
