name: Test code

on:

    push:
        branches: [ '*' ]
        # paths: [ '**.py' ]

jobs:

    Test:

        runs-on: ${{ matrix.os }}-latest
        strategy:
            matrix:
                os: ["ubuntu", "macos", "windows"]
        defaults:
            run:
                shell: bash -l {0}
        
        steps:

            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install regular dependencies with conda
              uses: conda-incubator/setup-miniconda@v3
              with:
                miniforge-version: "latest"
                environment-file: environment.yml
                activate-environment: test-env
                conda-remove-defaults: "true"

            - name: Install dev dependencies
              run: |
                  conda env update -n test-env --file environment-dev.yml

            - name: Run tests with coverage
              run: |
                  coverage run -m pytest -xs
            
            - name: Generate coverage report
              run: |
                  coverage report --format markdown > coverage.md
            
            - name: Store coverage percentage
              run: |
                  echo "COV_PERCENT=$(coverage report --format total) " >> $GITHUB_ENV  # Export the coverage percentage

            - name: Create Coverage Badge
              uses: schneegans/dynamic-badges-action@v1.7.0
              with:
                auth: ${{ secrets.GIST_SECRET }}
                gistID: <gist-ID>
                filename: coverage.json
                label: coverage
                message: "${COV_PERCENT}%"
                valColorRange: $COV_PERCENT
                minColorRange: 50
                maxColorRange: 90

            - name: Upload coverage report
              if: matrix.os == 'ubuntu'
              uses: actions/upload-artifact@v4
              with:
                name: coverage
                path: coverage.md
                compression-level: 0
