name: Test code

on:

    push:
        branches: [ '*' ]
        # paths: [ '**.py' ]

jobs:

    Test:

        runs-on: ${{ matrix.os }}-latest
        strategy:
            matrix:
                os: ["ubuntu", "macos", "windows"]
        defaults:
            run:
                shell: bash -l {0}
        
        steps:

            - name: Checkout code
              uses: actions/checkout@v3

            - name: Install regular dependencies with conda
              uses: conda-incubator/setup-miniconda@v2
              with:
                miniconda-version: "latest"
                environment-file: environment.yml
                activate-environment: test-env

            - name: Install dev dependencies
              run: |
                  conda env update -n test-env --file environment-dev.yml

            - name: Run tests with coverage
              run: |
                  coverage run -m pytest -xs
                  coverage report --format markdown > coverage.md

            - name: Upload coverage report
              uses: actions/upload-artifact@v4
              with:
                name: coverage
                path: coverage.md
